.cardSetContainer
  width: 100%
  margin: 0 auto
  display: grid
  justify-items: center

.cardSet
  width: 100%
  max-width: 800px
  display: grid
  grid-template-columns: repeat(3, auto)
  justify-items: center
  margin-bottom: 30px

  h2
    color: white
    font-weight: 600
    font-size: 28px
    text-transform: uppercase

  p
    position: relative
    left: 0
    top: 40px
    color: white
    font-weight: 500
    font-size: 18px
    line-height: 1.2

.singleCard
  width: 240px
  height: 140px
  border-radius: 10px
  padding: 0 0 0 10px
  margin-bottom: 20px
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25)

.singleCardSwift
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #FA9600
  background-image: url('../img/card_blog.svg')

.singleCardPodcast
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #15B51B
  background-image: url('../img/card_podcast.svg')

.singleCardVideo
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #7DB6DD
  background-image: url('../img/card_video.svg')

.singleCardJAMstack
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #5529BC
  background-image: url('../img/card_jamstack.svg')

.singleCardContact
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #EA4710
  background-image: url('../img/card_contact.svg')

.singleCardPhotography
  background-repeat: no-repeat
  background-size: 240px 140px
  background-color: #B36E01
  background-image: url('../img/card_photography.svg')

.cardSetSpacer
  height: 50px

@media (max-width: 780px)
  .cardSet
    margin-bottom: 10px

  .singleCard
    width: 150px
    height: 100px

    h2
      font-size: 16px
    p
      font-size: 13px
      top: 0
